.App {
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.AppItem {
    box-sizing: border-box;
    border: 3px solid yellow;
    border-radius: 10px;
    width: 500px;
    min-height: 300px;
}

.AppInput {
    border: 3px solid yellow;
    border-radius: 10px;
    width: 450px;
    min-height: 200px;
    margin: 20px auto;
    text-align: center;
}

.AppInputMain {
    color: white;
    font-size: 20px;
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.AppInputCount {
    margin: 88px 0;
    height: 27px;
    font-size: 50px;
    color: white;
}

.AppButton {
    border: 3px solid yellow;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto 20px;
    padding: 10px 0;
    text-align: center;
}

.ButtonCount {
    display: flex;
    justify-content: space-around;
}

.ButtonItem {
    font-size: 20px;
    padding: 10px 30px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
}

.ColorError {
    color: red;
}

.ColorStart {
    color: blue;
}
